$primary-color: #000000;
$secondary-color: #fff;
$third-color: #0a3a62;
$forth-color: #1f1d15;

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

a{
  text-decoration: none;
  color: $primary-color;
}

body {
  background: #1f1d15;
  background: linear-gradient(
    175deg,
    #1f1d15 0%,
    #0a3a62 100%
  );
}

.navbar {
  box-shadow: none;
  background: #0A80AE;
  .nav-item {
    .nav-link {
      color: $secondary-color !important;
      font-size: 14px;
      font-weight: bold;
      margin: 0px 5px;
    }
    .nav-btn {
      color: $secondary-color;
      background-color: $third-color;
      box-shadow: none;
      font-weight: 600;
      border-radius: 50px;
      &:hover {
        background: $secondary-color;
        color: $third-color;
      }
    }
  }
}

// .top-nav-collapse {
//   background-color: $primary-color;
//   .nav-item {
//     .nav-link {
//       color: $secondary-color !important;
//       &:hover {
//         color: $third-color !important;
//       }
//     }
//   }
// }
// @media (max-width: 768px) {
//   .navbar:not(.top-nav-collapse) {
//     background-color: #f6c513;
//   }
// }
// @media (min-width: 800px) and (max-width: 850px) {
//   .navbar:not(.top-nav-collapse) {
//     background-color: $primary-color;
//   }
// }

main {
  #intro {
    background: url("../Images/Desktop_Background.png") rgba(0, 0, 0, 0.3)
      no-repeat;
    background-position: center center;
    background-size: cover;
    background-blend-mode: multiply;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .row {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      .header-title {
        color: $secondary-color;
        font-weight: 800;
      }
      .container-button {
        display: flex;
        flex-direction: row;
        .btn {
          color: $secondary-color;
          box-shadow: none;
          font-weight: 600;
          border: 3px solid $secondary-color;
          border-radius: 50px;
          &:hover {
            background: linear-gradient(
              to right,
              $third-color 0%,
              $forth-color 100%
            );
          }
        }
      }
    }
    @media (max-width: 767px) {
      .header-text {
        text-align: center;
        font-size: 15px;
      }
      .header-title {
        text-align: center;
        font-size: 3.5rem;
      }
    }
  }

  #buy_info {
    .row {
      .card-header {
        border-bottom: none;
      }
      .btn {
        color: $secondary-color;
        background-color: $third-color;
        font-weight: 600;
        border-radius: 5px;
      }
      .nav-link {
        color: $primary-color;
      }
      .nav-link.active {
        color: $third-color;
      }
      .nav-tabs .nav-link.active::before {
        content: " ";
        background: $third-color;
        color: #232223;
        border-radius: 10px;
        position: absolute;
        width: 100%;
        height: 5px;
        left: 0;
        top: 0;
      }
    }
  }
  #guide {
    .sec-heading {
      text-align: center;
    }
    .owl-carousel {
      padding: 0 15px;
      .card {
        width: 320px;
        margin-right: 30px;
        background-color: $third-color;
      }
      .card-body {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        h5{
          color: $secondary-color;
          font-weight: bold;
        }
      }
      img {
        width: 100%;
      }
      p {
        padding: 1rem;
        margin-bottom: 0;
        color: #969696;
      }
    }
  }
}

@media (max-width: 767px) {
  #intro {
    background: url("../Images/Mobile_Background.png") rgba(0, 0, 0, 0.3)
      no-repeat !important;
    background-position: center center !important;
    background-attachment: fixed !important;
    background-size: contain !important;
    padding: 0 !important;
    // margin-top: 75px !important;
  }
}

footer {
  background: rgba(0, 0, 0, 0.5);
  color: $secondary-color;
  display: flex;
  align-items: center;
  padding: 50px 0 50px 0;
  p {
    line-height: 16px;
    font-weight: 300;
  }
  a {
    text-decoration: none;
    color: $secondary-color;
  }
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  width: 50%;
  // height: 50px;
  position: relative;
  animation: loader 2s infinite ease;
}
